# --- DOCKER CONFIGURATION ---
# Gunakan lowercase dan kebab-case (tanpa spasi)
PROJECT_NAME=project_name

# --- BROWSER PORTS ---
# Akses aplikasi di http://localhost:8080
APP_PORT_HOST=8080
# Akses phpMyAdmin di http://localhost:8081
PMA_PORT_HOST=8081
# Akses Database di port 3306
DB_PORT_HOST=3306

# --- USER PERMISSIONS (WSL2) ---
# Jalankan 'id -u' di terminal untuk melihat ID user Anda
UID=1000
GID=1000